{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>About</title>
    <link rel="stylesheet" href="{% static 'MainApp/about.css'%}">
    
{% endblock head %}

{% block body %}
    <div class="inner-container">
        <div class="about-header">
            <img src="{% static 'Images/School_Images/school1.jpg' %}" height="300px">
            <span class="title-about">Government Marathi LPS</span>
        </div>
        <main class="main">
            <section class="section">
              <h2 class="heading">About Us</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A suscipit eius perferendis est sapiente error sint quam dignissimos velit illo, repudiandae eaque soluta quas id eum consequuntur distinctio ipsam totam. Illo est quia doloremque porro, perspiciatis eos! Nulla repellendus quidem officia fugiat nihil aperiam provident! Provident fugiat aliquam perferendis autem dolor consequuntur aut alias. Hic quasi eveniet ea quas quis illum velit deserunt. Magnam obcaecati dolorum perferendis necessitatibus dolor nemo?</p>
            </section>
        
          </main>
</div>


{% endblock body %}