{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>ACM</title>
    <link rel="stylesheet" href="{% static 'MainApp/home.css'%}">

{% endblock head %}
{% block body %}
    <div class="inner-container">
      <div class="event-header ">
      <div class="event-title animate__animated animate__rubberBand">Government Marathi LPS</div>
      <div class="event-subtitle animate__animated animate__backInLeft">School site</div>
    </div>
    <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit iusto porro sed, inventore incidunt autem cum necessitatibus eum! Quae quidem ea numquam quis necessitatibus maiores animi ratione dignissimos cum non.
</div>

    <div class="cover">

    </div>
    </div>

{% endblock body %}