{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Trio</title>
    <link rel="stylesheet" href="{% static 'MainApp/home.css'%}">

{% endblock head %}
{% block body %}
    <div class="inner-container">
      <div class="event-header ">
    
      <div class="event-title" >Government Marathi LPS</div>
    </div>
    <div class="content">
        <div class="left">
            <h3>Mission</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, veritatis</p>
        </div>
        <div class="right">
            <h3>Vision</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, veritatis</p>
        </div>
    </div>
    
    <div class="updates">
        <h2>Announcement</h2>
        <div class="updates-box">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ad.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ad.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ad.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ad.</p>
        </div>
    </div>
    <div class="footer-box">
        
    </div>
    <div class="footer-space">
Timepass



jskfj
    </div>
    </div>

{% endblock body %}