{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Trio</title>
    <link rel="stylesheet" href="{% static 'MainApp/home.css'%}">

{% endblock head %}
{% block body %}
<div class="inner-container">
    <div class="section">
        <div class="content">
            <h1 class="head">Government Marathi
                Lower Primary School</h1>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, ut cumque, quidem iusto ducimus ipsa provident quod voluptas et placeat odit dolorem recusandae atque voluptatem sint fugiat iste sunt vel ratione. Dolorum commodi, fugiat officiis animi adipisci assumenda exercitationem consectetur.</p>
        </div>
        <div class="image">
            <img src="{% static 'Images\Event_images\IMG2.jpg' %}" height="250px" alt="header image">
        </div>
        </div>
</div>
{% endblock body %}