
.inner-container{
    width:100%;
    /* background-color: red; */
    min-height:100vh;
}
.inner-container>.section {
    padding-top:4rem;
    border-end-end-radius: 50%;
    /* border-radius: 0 0 0 25%; */
    width: 100%;
    overflow: hidden;
    background-color: #9fc4d4;
    min-height: 400px;
    display: flex;
}
.inner-container>.section>.content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}
.inner-container>.section>.image{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* padding: 0 2rem; */
}
.inner-container>.section>.image>img {
    border-radius: 100px 0 0 0;
    border: solid black 1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 575px) {
    .inner-container>.section>.image{
        display: none;
    }
    .inner-container>.section>.content{
        width: 100%;
    }

}
@media (min-width: 992px){
    
}